<html>
<head>
  <link rel="shortcut icon" href="http://www.snapguide.com/favicon.ico" type="image/x-icon">
	<title>DeelWheel</title>
	<link rel="stylesheet" href="/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>DeelWheel</title>
     <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-22597234-1']);
       _gaq.push(['_setDomainName', '.deelwheel.com']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
</head>

<body>
<div id="container">
        <div id="logo"></div>
		<div class="box">
			<p>DeelWheel</p>
			<hr />
			<p style="color:grey">win. win. no lose.</p>
			<p>This is some text.</p>
			<hr />
			<p>This is some text.</p>

		</div>

        <div id="contact">Follow us on <a href="http://www.twitter.com/DeelWheel">Twitter</a>. <!-- Signup for <a href="http://eepurl.com/dlr_U">our mailing list</a>. --> Or drop us <a href="mailto:info@deelwheel.com">a line</a>.</div>
        
</div>

</body>
</html>