<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Radley&subset=latin">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Permanent+Marker">
    <style>
	      h1 {
	        font-family: 'Radley', serif;
	        font-size: 48px;
			}
	      p {
	        font-family: 'Permanent+Marker';
	        font-size: 36px;
	      }
	    </style>
  <link rel="shortcut icon" href="http://www.snapguide.com/favicon.ico" type="image/x-icon">
	<title>DeelWheel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>DeelWheel</title>
     <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-22597234-1']);
       _gaq.push(['_setDomainName', '.deelwheel.com']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
</head>

<body>
<div id="container">
		<div class="box">
			<h1 id="deelwheel"style="text-align: center;">&nbsp;</h1>
			<h1 id="deelwheel"style="text-align: center;">&nbsp;</h1>
			<h1 id="deelwheel"style="text-align: center;">&nbsp;</h1>
			<h1 id="deelwheel"style="text-align: center;">DeelWheel</h1>
			<hr />
			<p style="text-align: center;font-size:24;">win. win. no lose.</p>

		</div>

        <div id="contact">Follow us on <a href="http://www.twitter.com/DeelWheel">Twitter</a>. <!-- Signup for <a href="http://eepurl.com/dlr_U">our mailing list</a>. --> Or drop us <a href="mailto:info@deelwheel.com">a line</a>.</div>
        
</div>

</body>
</html>